<header class="container">
    <nav class="text-center">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
          <img src="../assets/image-2.png" alt="Wood Hotel Group" class="img-fluid">
        </a>
    </nav>
  </header>
  <!-- SPA -->
  <div class="content">
      <router-outlet></router-outlet>
  </div>
  <!-- Footer -->
  <!-- <footer class="text-center w-100 mt-5 mr-5">
  <div>
      <div class="footer-copyright"> © 2019 Copyright: 
        <a style="color: white" href="https://github.com/gisellem22">WOOD HOTEL GROUP</a>
        </div>
  </div>
  </footer> -->